@use '../helpers' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: rems(40);
  border: rems(1) solid var(--color-dark);
  border-radius: rems(60);
  text-align: center;
  row-gap: rems(18);
  width: auto;
  height: auto;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 rems(17) var(--color-accent);

  label {
    font-size: 16px;
  }

  @include tablet {
    row-gap: 0.5rem;
    border-radius: 2rem;
  }

  .field__errors:empty {
    scale: 0;
  }

  .field:has([required]) .field__label::after {
    content: '*';
    padding-inline: 0.15em;
    color: var(--color-accent);
  }

  .field {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    align-items: start;

    &__errors {
      color: var(--color-accent);
      transition: var(--transition);
      font-size: 9px;
      max-width: 240px;
    }

    &__label {
      font-size: 16px;
      font-weight: 500;

      @include tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    input {
      width: rems(320);
      height: rems(40);
      background: none;
      border: 1px solid var(--color-semi-light);
      border-radius: 3rem;
      color: var(--color-light);
      padding-inline: 0.5rem;
      outline: 1px solid transparent;
      transition: var(--transition);
      font-weight: 400;
      font-size: 14px;

      @include tablet {
        width: 250px;
        height: 2.25rem;
      }

      @include mobile {
        width: 220px;
      }

      @include hover {
        box-shadow: 0 0 1rem 0 var(--color-semi-light);
      }

      &:focus {
        box-shadow: 0 0 1rem 0 var(--color-dark-3);
        background-color: var(--color-dark-3);
      }

      &:focus label {
        margin-bottom: 5px;
      }
    }
  }

  .button {
    width: rems(250);
    height: rems(50);
    border: rems(1) solid var(--color-dark);
    border-radius: rems(30);
    text-transform: uppercase;
    font-weight: 700;
    font-size: rems(22);
    transition: 0.2s linear;
    color: var(--color-light);
    background: transparent;
    text-align: center;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -120%;
      width: 250%;
      height: 640%;
      background-color: var(--color-accent);
      z-index: -1;
      transition: .2s linear;
      filter: blur(rems(85));
    }

    @include hover {
      color: #fff;
      &::before {
        left: -20%;
      }
    }

    &:focus {
      background-color: var(--color-accent);
    }
  }
}