@use '../helpers' as *;

.header {
  position: sticky;
  left: 0;
  top: 0;
  padding: 30px 0px;

  @include tablet {
    padding: 20px 0;
  }

  @include mobile-small {
    padding: 10px 0;
  }

  &__body-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inner__logo {
    color: var(--color-light);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .switcher__theme {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
    border-radius: 50rem;
    border: rems(7) solid transparent;
    outline: rems(1) solid var(--color-border);
    padding: 0.4rem;

    transition: 0.1s linear;

    @include hover {
      box-shadow: 0 0 rems(10) var(--color-border);
    }

    &-span {
      display: inline-block;
      width: auto;
      height: auto;
      line-height: 0;

      &:first-child svg,
      &:first-child svg * {
        stroke: var(--color-light);
      }

      &:last-child svg,
      &:last-child svg * {
        stroke: var(--color-dark);
      }

      z-index: 20;
    }

    &::before {
      content: '';
      height: 100%;
      aspect-ratio: 1;
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--color-font);
      border-radius: 50%;
      transition: var(--transition);
    }
  }
}

html.is-dark-theme {
  .switcher__theme::before {
    left: 100%;
    transform: translateX(-100%);
  }
}
