@use 'helpers' as *;

body {
  font-family: 'Nunito sans', sans-serif;
  background-color: var(--color-bg);
  font-weight: 500;
  color: var(--color-font);
  font-size: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  @include flex-center;
}