@use 'helpers' as *;

:root {
  --color-dark-1: #16171b;
  --color-dark-2: #080a0e;
  --color-dark-3: #25262b;
  --color-dark: #000000;

  --color-grey-1: #333333;
  
  --color-green-1: #44944A;

  --color-semi-light: #c2c2c2;
  --color-light: #FFFFFF;

  --color-accent: #797979;

  --color-bg: var(--color-light);
  --color-font: var(--color-dark);
  --color-accent-font: var(--color-accent);
  --color-border: var(--color-dark);

  --container-width: 1440px;
  --container-padding-x: 15px;
  
  --border-radius-circle: 50%;

  --transition-alt: .1s;
  --transition-duration: .2s;
  --transition: .2s linear;

  @include desktop {
    --container-width: 1155px;
  }
}

html.is-dark-theme {
  --color-bg: var(--color-dark);
  --color-font: var(--color-light);
  --color-border: var(--color-light);

  --color-dark-2: #c2c2c2;
  --color-dark-1: #ffffff;
  --color-dark-3: #8f8f8f;
}